-   :material-folder-open:{ .lg .middle } **{{ project_name }}**

    ---

    {{ description }}

    **{{ repo_count }} repositories** · {{ tags | join(' · ') }}

    [:octicons-arrow-right-24: Explore documentation](../{{ site_path }}/index.html)
